body {
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #F7F9FA;
  overflow: hidden;
}

.page {
  padding: 7.5vh 1.5vh;
  height: 100vh;
  min-width: 94vw;
  width: 100%;
  display: grid;
  grid-template-rows: 8% 92%;
  grid-gap: 0;
  background-color: #FEFEFE;
  overflow: scroll;
}

.sidebar {
  position: relative;
  margin: 0;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

.navbar-icon {
  background: linear-gradient(to bottom right, #FFF45A, #FF9C5A);
  /* background: linear-gradient(to bottom right, #5AFFF3, #5AC7FF); */
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  background-clip: text;
  margin: .5vh 1vw;
  font-size: 4vw !important;
}

.sidebar a {
  color: #222;
}

.lower-sidebar {
  position: absolute;
  bottom: 0;
}