body {
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  overflow: hidden;
}

.page {
  padding: 7.5vh 1.5vh;
  height: 100vh;
  min-width: 94vw;
  display: grid;
  grid-template-rows: 8% 92%;
  overflow: scroll;
}

.sidebar {
  position: relative;
  margin: 0;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

.sidebar a {
  color: #222;
}

.lower-sidebar {
  position: absolute;
  bottom: 0;
}