.signin-modal, .signup-modal {
   display: none;
   position: fixed;
   top: 0; bottom: 0;
   left: 0; right: 0;
   background-color: #22222222;
   backdrop-filter: blur(.5vh);
   justify-content: center;
   align-items: center;
}

.signin-modal-inner, .signup-modal-inner {
   padding: 4vh 6vh;
   text-align: center;
   background-color: #fff;
   border-radius: 3vh;
   box-shadow: 0 0 .2vh #888;
}

.signin-modal-inner h2, .signup-modal-inner h2 {
   margin: 1vh 0 3vh 0;
   font-family: sans-serif;
   font-size: 4vh;
   color: #222;
}

.input-text {
   width: 96.5%;
   padding: 2vh;
   margin: .5vh 0;
   outline: none;
   border: none;
   box-sizing: border-box;
   background-color: #fff;
   font-size: 3vh;
   border-radius: 2vh;
   box-shadow: inset 0 0 .5vh #00000020;
}

.input-submit {
   width: 96.5%;
   margin-bottom: -3vh;
}

.signin-text {
   margin: -.5vh 0 2vh 0;
   font-size: 2.8vh;
   color: #444;
   font-family: "Nunito", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus  {
  box-shadow: 0 0 0px 1000px #e8e8e8 inset;
  transition: background-color 5000s ease-in-out 0s;
}