<head>
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <meta name="description" content="Git Organized, the way developers stay in control of their workflow. Come check it out! 💖 Editor Squirrel">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
   <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/styles/main.css">

   <% if (pageTitle == "Home") { %>
      <title>Git Organized</title>
   <% } else if (pageTitle == "Project Overview") { %>
      <title><%= thisProject.name %> | Git Organized</title>
   <% } else if (pageTitle == "Editing Project") { %>
      <title>Editing <%= thisProject.name %> | Git Organized</title>
   <% } else { %>
      <title><%= pageTitle %> | Git Organized</title>
   <% } %>
</head>
<style>
body {
   display: grid;
   grid-template-columns: auto auto;
   overflow: hidden;
}

.page {
   width: calc(100vw - 70px);
   padding: 7.5vh 1.5vh;
   height: 100vh;
   min-width: 94vw;
   display: grid;
   grid-template-rows: 8% 92%;
   overflow: scroll;
}

::-webkit-scrollbar { display: none; }

details > summary { list-style: none; }

@media (prefers-color-scheme: dark) {
   ::selection { background: #1f212cdd; }
}
</style>