<div class="locbar right-0 top-0 fixed bg-white dark:bg-gray-800 border-b-2 border-gray-50 dark:border-gray-700 backdrop-blur-sm" style="width: calc(100% - 6vw - .28vh); padding: 1vh 2.5vh; height: 6vh;">
   <p class="text-bold font-nunito"><%= text %></p>
</div>
