<style>
.navbartip-parent .tooltip {
   pointer-events: none;
   position: absolute;
   top: 20%;
   left: -100%;
   height: 60%;
   width: 200px;
   padding: 5px 0;
   font-size: 2.6vh;
   font-family: "Nunito", sans-serif;
   text-align: center;
   border-radius: 6px;
   opacity: 0;
   z-index: 1;
   transition: .3s;
   transition-delay: .2s;
}

.tooltip span {
   background: linear-gradient(to bottom right, #FFF45A, #FF9C5A);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.navbartip-parent:hover .tooltip {
   left: 90%;
   opacity: 1;
}

.sidebar hr {
   height: .5vh; /* .4vh */
   background: linear-gradient(to bottom right, #FFF45A, #FF9C5A);
   border: none;
   border-radius: 1vh;
   margin: .8vh 1.5vh;
}

.navbar-icon {
   background: linear-gradient(to bottom right, #FFF45A, #FF9C5A);
   /* background: linear-gradient(to bottom right, #5AFFF3, #5AC7FF); */
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
   background-clip: text;
   margin: 10px ;
   font-size: 50px !important;
}
</style>

<div class="sidebar m-0 relative bg-white dark:bg-gray-800 w-[70px]" style="height: 100vh">
  <div>
    <div class="navbartip-parent relative">
      <a href="/"><span class="material-symbols-rounded navbar-icon">data_object</span></a>
      <p class="tooltip bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-50">Home</p>
    </div>
    <div class="navbartip-parent relative">
      <a href="/actions-history"><span class="material-symbols-rounded navbar-icon">timeline</span></a>
      <p class="tooltip bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-50">Global Actions</p>
    </div>
  </div>
  <br>
  <div class="absolute bottom-0">
    <div class="navbartip-parent relative">
      <a href="/your-projects"><span class="material-symbols-rounded navbar-icon">folder_open</span></a>
      <p class="tooltip bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-50">Your Projects</p>
    </div>
    <hr>
    <div class="navbartip-parent relative">
      <a href="/sign-out"><span class="material-symbols-rounded navbar-icon">logout</span></a>
      <p class="tooltip bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-50">Logout</p>
    </div>
    <div class="navbartip-parent relative">
      <a href="/account"><span class="material-symbols-rounded navbar-icon">account_circle</span></a>
      <p class="tooltip bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-50">Account</p>
    </div>
  </div>
</div>