<div class="sidebar bg-white dark:bg-gray-800">
  <div>
    <div class="navbartip-parent relative">
      <a href="/"><span class="material-symbols-rounded navbar-icon">data_object</span></a>
      <p class="tooltip">Home</p>
    </div>
    <div class="navbartip-parent relative">
      <a href="/actions-history"><span class="material-symbols-rounded navbar-icon">timeline</span></a>
      <p class="tooltip">Global Actions</p>
    </div>
  </div>
  <br>
  <div class="lower-sidebar">
    <div class="navbartip-parent relative">
      <a href="/your-projects"><span class="material-symbols-rounded navbar-icon">folder_open</span></a>
      <p class="tooltip">Your Projects</p>
    </div>
    <hr>
    <div class="navbartip-parent relative">
      <a href="/sign-out"><span class="material-symbols-rounded navbar-icon">logout</span></a>
      <p class="tooltip">Logout</p>
    </div>
    <div class="navbartip-parent relative">
      <a href="/account"><span class="material-symbols-rounded navbar-icon">account_circle</span></a>
      <p class="tooltip">Account</p>
    </div>
  </div>
</div>