<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="sidebar">
    <div>
       <div>
         <a href="/"><span class="material-symbols-rounded navbar-icon">data_object</span></a>
          <p class="tooltip"></p>
       </div>
       <div>
          <span class="material-symbols-rounded navbar-icon">explore</span>
          <p class="tooltip"></p>
       </div>
       <div>
          <span class="material-symbols-rounded navbar-icon">stars</span>
          <p class="tooltip"></p>
       </div>
       <div>
          <span class="material-symbols-rounded navbar-icon">folder_special</span>
          <p class="tooltip"></p>
       </div>
    </div>
    <br>
    <div class="lower-sidebar">
       <div>
         <span class="material-symbols-rounded navbar-icon">tag</span>
         <p class="tooltip"></p>
       </div>
       <div>
         <a href="/projects"><span class="material-symbols-rounded navbar-icon">folder_open</span></a>
         <p class="tooltip"></p>
       </div>
       <div>
         <a href="/sign-out"><span class="material-symbols-rounded navbar-icon">logout</span></a>
         <p class="tooltip"></p>
       </div>
       <div>
         <a href="/account"><span class="material-symbols-rounded navbar-icon">account_circle</span></a>
         <p class="tooltip"></p>
       </div>
       <div>
         <span class="material-symbols-rounded navbar-icon navbar-icon">settings</span>
         <p class="tooltip"></p>
       </div>
    </div>
</div>