<!-- Side navigation bar -->
<div class="nvbr h-[100vh] w-[4.5rem] bg-white dark:bg-gray-800 border-r-2 border-gray-100 dark:border-gray-700 z-40" style="box-sizing: border-box">
   <div class="pt-14 text-center">
      <!-- <button onclick="doo()" class="p-1 px-4 mb-2 bg-transparent shadow dark:shadow-gray-700 rounded-xl" title="overlay">ov</button><br>
      <button onclick="cho()" class="p-1 px-4 bg-transparent shadow dark:shadow-gray-700 rounded-xl" title="real width">rw</button> -->
      <div class="app" style="display: none"></div>
      <% if (locals.dta) { %>
         <script>
            data = <%- dta %>;
            document.querySelector(".app").innerHTML = data;
         </script>
      <% } %>
   </div>
   <div class="smallMenu absolute bottom-0 text-center">
      <div class="navbartip-parent relative">
         <a href="/your-projects"><span class="material-symbols-rounded navbar-icon">folder_open</span></a>
         <p class="tooltip bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-50 font-nunito text-center absolute">Your Projects</p>
      </div>
      <hr>
      <div class="navbartip-parent relative">
         <a href="/sign-out"><span class="material-symbols-rounded navbar-icon">logout</span></a>
         <p class="tooltip bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-50 font-nunito text-center absolute">Logout</p>
      </div>
      <div class="navbartip-parent relative">
         <a href="/account"><span class="material-symbols-rounded navbar-icon">account_circle</span></a>
         <p class="tooltip bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-50 font-nunito text-center absolute">Account</p>
      </div>
   </div>
   <!-- <div class="bigMenu hidden absolute bottom-0 px-2 w-[23rem] text-center">
      <a href="/your-projects" class="float-left" title="Your Projects"><span class="material-symbols-rounded navbar-icon-wide">folder_open</span></a>
      <a href="/account" class="float-right" title="Account"><span class="material-symbols-rounded navbar-icon-wide">account_circle</span></a>
      <a href="/sign-out" class="float-right" title="Log out"><span class="material-symbols-rounded navbar-icon-wide">logout</span></a>
   </div> -->
</div>
<style>
.nvbr { transition: .2s; }
</style>
<script>
let nvbr = document.querySelector(".nvbr");
function doo() {
   document.querySelector(".layout").style.gridTemplateColumns = "5rem auto";
   if (nvbr.style.width == "23rem") {
      nvbr.style.width = "4.5rem";
      document.querySelector(".app").style.display = "none";
      toggleMenuStyle("hide");
   }
   else {
      nvbr.style.width = "23rem";
      document.querySelector(".app").style.display = "block";
      toggleMenuStyle("show");
   }
}
function cho() {
   if (nvbr.style.width == "23rem") {
      nvbr.style.width = "4.5rem";
      document.querySelector(".app").style.display = "none";
      document.querySelector(".layout").style.gridTemplateColumns = "5rem auto";
      toggleMenuStyle("hide");
   } else {
      nvbr.style.width = "23rem";
      document.querySelector(".app").style.display = "block";
      document.querySelector(".layout").style.gridTemplateColumns = "23.5rem auto";
      toggleMenuStyle("show");
   }
}
function toggleMenuStyle(option) {
   if (option == "show") {
      document.querySelector(".bigMenu").style.display = "block";
      document.querySelector(".smallMenu").style.display = "none";
   }
   else {
      document.querySelector(".bigMenu").style.display = "none";
      document.querySelector(".smallMenu").style.display = "block";
   }
}
</script>