<link rel="stylesheet" href="Styles/partials/signIn.css">
<div class="signin-modal">
   <div class="signin-modal-inner">
      <h2>Sign In</h2>
      <p class="signin-text">Welcome back!</p>
      <form method="POST" action="/signin" method="post" id="signin-from-homepage">
         <input class="input-text" type="text" name="name" placeholder="Name" required><br>
         <input class="input-text" type="password" name="pscd" placeholder="Password" required><br>
         <input class="input-submit menu-option" type="submit" value="Enter Account">
      </form>
      <br>
      <p class="menu-option" onclick="document.querySelector('.signup-modal').style.display = 'flex'; document.querySelector('.signin-modal').style.display = 'none'">Don't have an account? Create one!</p>
   </div>
</div>
<script>
$("#signin-from-homepage").submit(function(event) {
   event.preventDefault();
   $.post("/signin", {
      name: this.name.value,
      pscd: this.pscd.value
   }).done(function(data) {
      document.querySelector(".signin-text").textContent = data;
      if (data == "Successful signin!") { location.reload(); }
   });
});
</script>