<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css">

<div style="height: 100vh; width: 100vw; display: flex; justify-content: center; align-items: center;">
   <p class="text-4xl font-nunito" style=" background: linear-gradient(to bottom right, #FFF45A, #FF9C5A); -webkit-background-clip: text; -webkit-text-fill-color:transparent; background-clip: text;" onclick="document.querySelector('.signin-modal').style.display = 'flex'">Sign in!</p>
</div>