<div style="height: 100vh; width: 100vw; display: flex; justify-content: center; align-items: center;">
   <p class="text-4xl font-nunito" style="background: linear-gradient(to bottom right, #FFF45A, #FF9C5A); -webkit-background-clip: text; -webkit-text-fill-color:transparent; background-clip: text;" onclick="document.querySelector('.signin-modal').style.display = 'flex'">Sign in!</p>
</div>