<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="Styles/home.css">
   <title>New Project | Git Organized</title>
</head>
<body>
   <%- include("partials/navbar"); %>
   <div class="page">
      <div class="locbar">
         <p>Home>New Project</p>
      </div>
      <div class="content">
         <form method="POST" action="/newproject" id="create-new-project">
            <input type="text" name="name" placeholder="Your new project's name" required><br>
            <input type="text" name="about" placeholder="A little bit about what you'll be using it for" required><br>
            <input type="submit" value="Leeeeeeeet's GO!">
         </form>
         <h2>Sorry! This place is still under construction.</h2>
         <p><span class="material-symbols-rounded">construction</span> Remember, this site is not finished.</p>
      </div>
   </div>
</body>
</html>