<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="Styles/home.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <title>Git Organized</title>
</head>
<body>
   <% if (user !== "(not signed in)") { %>
      <%- include("partials/navbar"); %>

      <div class="locbar">
         <p>Home</p>
      </div>
      <div class="content">
         <p>You're in!</p>
         <br>
         <p>Here's some project info:</p>
         <%= projects %>
      </div>

      
   <%} else { %>
      <%- include("partials/signedOut"); %>
      <%- include("partials/signIn"); %>
   <% } %>
</body>
<script>
   function toggleWindow(id) {
      let thisWindow = document.querySelector(`.window-${id}`);
      if (thisWindow.style.opacity == "1") {
         thisWindow.style.opacity = "0";
         thisWindow.style.pointerEvents = "none";
         thisWindow.style.zIndex = "-1000";
      }
      else {
         thisWindow.style.opacity = "1";
         thisWindow.style.pointerEvents = "auto";
         thisWindow.style.zIndex = "1000";
      }
   }
</script>
</html>