<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="styles/main.css">
   <title>About | Git Organized</title>
</head>
<body>
   <div class="landing h-[100vh]">
      <div class="navigation">
         <a href="#">Home</a>
         <a href="/pricing">Pricing</a>
         <a href="/docs">Docs</a>
         <a href="https://gitorganized.cyclic.app">Sign in</a>
      </div>
      <h1>Git Organized</h1>
      <h2>Developer organization made simple</h2>
      <div>
         <p>tell me more</p>
         <span>🔻</span>
      </div>
   </div>
   <div class="info1 grid grid-cols-3">
      <div>
         <img src="/assets/" alt="complex sorting">
         <h3>Stay organized</h3>
         <p>Sort & filter all your cards, with a level of organization that will satisfy even the most intense organization people</p>
      </div>
      <div>
         <h3>Constantly connected</h3>
         <p>All of your projects & changes instantly saved to the cloud, accessible from anywhere</p>
         <img src="/assets/" alt="connected to the cloud">
      </div>
      <div>
         <img src="/assets/" alt="confusing code">
         <h3>Really messy</h3>
         <p>Code so messy and inefficant it ought to be illegal. Most experts have agreed it violates human rights somehow</p>
      </div>
   </div>
   <div class="visit grid grid-cols-2 bg-[#FFB81E]">
      <div>
         <h1>You convinced?</h1>
         <h4>Go check it out! It's free! Until my 500 free megabytes on MongoDB run out.</h4>   
      </div>
      <div>
         <img src="/assets/" alt="computer open on git organized">
         <button><a href="https://gitorganized.cyclic.app">Check it out -></a></button>
      </div>
      <div>
         <p>nah, I'm not convinced yet</p>
         <span>🔻</span>
      </div>
   </div>
   <div class="info2 grid grid-rows-2">
      <div class="grid grid-cols-2">
         <div>
            <h2>Constant Updates</h2>
            <p>I'm actively working on this project, so keep expecting cool new stuff!</p>
         </div>
         <img src="/assets/" alt="version log">
      </div>
      <div class="grid grid-cols-2">
         <img src="/assets/" alt="integrating feedback">
         <div>
            <h2>Listening to You</h2>
            <p>I like your opinions & feedback, so send it over and I'll work it into the code.</p>
         </div>
      </div>
   </div>
   <div class="pricing bg-[#FFDB8F]">
      <h3>Basic is always free</h3>
      <h1>But we know you want more ;)</h1>
      <button><a href="/pricing">Pricing -></a></button>
   </div>
   <div class="qoutes">
      <h2>Testimonial</h2>
      <div>
         <div>""-....</div>
         <div>""-....</div>
         <div>""-....</div>
         <div>""-....</div>
         <div>""-....</div>
      </div>
   </div>
   <div class="newsletter grid-cols-2 bg-[#FFB81E]">
      <div>
         <h2>Stay in touch</h2>
         <p>Sign up to some non-annoying email updates</p>
         <div>
            <p>non annoying?</p>
            <span>I'll only send you big updates, less than an email a week</span>
         </div>
      </div>
      <div>
         <img src="/assets/" alt="newsletter">
         <input type="text" placeholder="youremail@gmail.com">
         <button>Sign up</button>
      </div>
   </div>
   <div class="madeby">
      <h2>Made with 💖 by Editor Squirrel <br> with help from <a href="https://github.com/tildejustin">tildejustin</a></h2>
   </div>
   <div class="footer bg-[#BF9C4F]">
      <p>Sitemap</p>
      <div class="grid grid-cols-3">
         <div>
            <h2>Pages</h2>
            <p><a href="#">Home</a></p>
            <p><a href="/pricing">Pricing</a></p>
            <p><a href="/docs">Docs</a></p>
            <p><a href="https://gitorganized.cyclic.app">Sign in</a></p>
         </div>
         <div>
            <h2>Contact</h2>
            <p>Send me anything! I'll email you back about bugs and feature requests.</p>
            <a href="mailto:gitorganized@gmail.com">gitorganized@gmail.com</a>
         </div>
         <div>
            <h2>Me (Editor Squirrel)</h2>
            <p>Always working to make the web better!</p>
            <p><a href="https://github.com/Squirrel-314" class="underline">GitHub</a></p>
            <p><a href="mailto:hamza.elabi1@gmail.com">hamza.elabi1@gmail.com</a></p>
         </div>
      </div>
   </div>
</body>
</html>