<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="Styles/home.css">
   <link rel="stylesheet" href="Styles/no-such-page.css">
   <title>Page not Found | Git Organized</title>
</head>
<body>
   <%- include("partials/navbar"); %>
   <div class="page">
      <div class="content">
         <h2>Sorry!</h2>
         <p>This page doesn't exist.</p>
         <p>Go to homepage: <a href="/">Let's go!</a></p>
         <p>Go to GitHub: <a href="https://github.com">Alright then!</a></p>
         <p>Go to Kansas: <a href="https://www.travelks.com/">Wait what?</a></p>
      </div>
   </div>
</body>
</html>