<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Page not Found | Git Organized</title>
</head>
<body>
   <%- include("partials/navbar"); %>
   <div class="page place-content-center flex items-center">
      <div class="bg-gradient-to-br from-yellow-300 to-orange-400 font-nunito text-white p-6 rounded-xl text-xl">
         <h2 class="text-center text-3xl">Sorry!</h2>
         <p class="text-center">This page doesn't exist.</p><br>
         <p>Go to homepage: <a class="text-gray-100 font-bold underline decoration-2" href="/">Let's go!</a></p>
         <p>Go to GitHub: <a class="text-gray-100 font-bold underline decoration-2" href="https://github.com">Alright then!</a></p>
         <p>Go to Kansas: <a class="text-gray-100 font-bold underline decoration-2" href="https://www.travelks.com/">Wait what?</a></p>
      </div>
   </div>
</body>
</html>
<!-- bg-gradient-to-br from-rose-500 to-rose-800 -->