.navbartip-parent {
   position: relative;
}
 
.navbartip-parent .tooltip {
   pointer-events: none;
   position: absolute;
   top: 20%;
   left: -100%;
   height: 60%;
   width: 30vh;
   padding: 5px 0;
   font-size: 2.6vh;
   font-family: "Nunito", sans-serif;
   background-color: #fff;
   box-shadow: 0 0 .25vh #ddd;
   color: #333;
   text-align: center;
   border-radius: 6px;
   opacity: 0;
   z-index: 1;
   transition: .3s;
   transition-delay: .2s;
}

.tooltip span {
   background: linear-gradient(to bottom right, #FFF45A, #FF9C5A);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.navbartip-parent:hover .tooltip {
   left: 90%;
   opacity: 1;
}

.sidebar hr {
   height: .5vh; /* .4vh */
   background-color: #f9f9f9; /* #eee */
   /* background: linear-gradient(to bottom right, #FFF45A, #FF9C5A); */
   border: none;
   border-radius: 1vh;
   margin: .8vh 1.5vh;
}