:root {
   color-scheme: light dark;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-areas: 
  "a b b"
  "a c c"
  "a c c";
}

.sidebar {
  position: relative;
  grid-area: a;
  margin: .6vh 0 .6vh .6vh;
  width: 6vw;
  height: 98.8vh;
  border-radius: .5vh;
  background: #fbfbfb;
}

.locbar {
  grid-area: b;
  margin: .6vh .6vh .6vh 0;
  padding: 1vh 2.5vh;
  height: 6vh;
  border-radius: .5vh;
  background: #fbfbfb;
  box-sizing: border-box;
}

.locbar p {
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

.content {
  grid-area: c;
  margin: 0 .6vh .6vh 0;
  padding: 2.5vh;
  height: 92.2vh;
  width: 92.6vw;
  border-radius: .5vh;
  background: #fbfbfb;
  box-sizing: border-box;
}

.navbar-icon {
  margin: .5vh 1vw;
  font-size: 4vw !important;
}

.sidebar a {
  color: #222;
}

.lower-sidebar {
  position: absolute;
  bottom: 0;
}