:root {
   color-scheme: light dark;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  /* background: linear-gradient(#FF5A5A, #FF9C5A, #FFF45A, #B2FF5A, #5AFFF3, #5AC7FF, #5A85FF, #B05AFF); */
  background-color: #F7F9FA;
  /* #5AFF9C */
  overflow: hidden;
}

.page {
  height: 100vh;
  min-width: 94vw;
  width: 100%;
  display: grid;
  grid-template-rows: 8% 92%;
  grid-gap: .2vh;
  padding: 1.5vh;
  overflow: scroll;
}

.sidebar {
  position: relative;
  margin: 0;
  width: 6vw;
  height: 100vh;
  background-color: #FEFEFE;
}

.locbar {
  padding: 1vh 2.5vh;
  height: 6vh;
  border-radius: .5vh;
  background-color: #FEFEFE;
  box-shadow: 0 0 .5vh #eee;
  position: sticky;
  top: 0;
}

.locbar p {
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.content {
  padding: 2.5vh;
  height: 100%;
  width: 100%;
  border-radius: .5vh;
  background-color: #FEFEFE;
  box-shadow: 0 0 .2vh #eee;
  overflow: auto;
}

.navbar-icon {
  background: linear-gradient(to bottom right, #FFF45A, #FF9C5A);
  /* background: linear-gradient(to bottom right, #5AFFF3, #5AC7FF); */
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  background-clip: text;
  margin: .5vh 1vw;
  font-size: 4vw !important;
}

.sidebar a {
  color: #222;
}

.lower-sidebar {
  position: absolute;
  bottom: 0;
}