.projectBlock {
   margin: 2vh;
   padding: 2vh;
   height: 30vh;
   width: 98%;
   display: inline-block;
   background-color: #fcfcfc;
   box-shadow: 0 0 .2vh #d8d8d8;
   border-radius: .8vh;
}

.projectBlock a {
   margin: 2vh;
   font-size: 9vh;
   font-weight: 900;
   font-family: "Nunito", sans-serif;
   color: #777;
   text-decoration: none;
}