.layout {
   display: grid;
   grid-template-columns: 4.5rem auto;
}

.navbartip-parent .tooltip {
   pointer-events: none;
   top: 20%;
   left: -100%;
   height: 60%;
   width: 200px;
   padding: 5px 0;
   font-size: 2.6vh;
   border-radius: 6px;
   opacity: 0;
   z-index: 1;
   transition: .3s;
   transition-delay: .2s;
}

@media (prefers-color-scheme: light) {
   .navbartip-parent .tooltip { box-shadow: 0 0 .25vh #eee; }
   ::selection { background: #FFCF65; } 
}

@media (prefers-color-scheme: dark) {
   .navbartip-parent .tooltip { box-shadow: 0 0 .25vh #111; }
   ::selection { background: #C48700; } 
}

.tooltip span {
   background: linear-gradient(to bottom right, #FFF45A, #FF9C5A);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.navbartip-parent:hover .tooltip {
   left: 90%;
   opacity: 1;
}

.nvbr hr {
   height: .5vh;
   background: linear-gradient(to bottom right, #FFF45A, #FF9C5A);
   border: none;
   border-radius: 1vh;
   margin: 0 1.5vh;
}

.navbar-icon {
   background: linear-gradient(to bottom right, #FFF45A, #FF9C5A);
   /* background: linear-gradient(to bottom right, #5AFFF3, #5AC7FF); */
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
   background-clip: text;
   margin: 10px;
   font-size: 50px !important;
}

.navbar-icon-wide {
   background: linear-gradient(to bottom right, #FFF45A, #FF9C5A);
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
   background-clip: text;
   font-size: 50px !important;
}

.page {
   padding: 2vh 1.5vh;
   max-height: 100vh;
   overflow: scroll;
}

::-webkit-scrollbar { display: none; }

details > summary { list-style: none; }